html, body{
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Arial;
}
*{
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: block;
  background: #ccc;
  padding: 80px 0px;
  float: left;
}

.cv-wrapper {
  width: 90%;
  margin: 0px auto 20px;
  padding: 0px 0px 20px;
  display: block;
  clear: both;
  background-color: #fff;
}

.cv-wrapper .header {
  padding: 50px 20px;
}

.cv-wrapper .header img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #ccc;
  display: block;
  position: absolute;
  left: 45%;
  right: 45%;
  top: 30px;
}

.cv-wrapper .header h1{
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.cv-wrapper .header h1 span{
  color: red;
}

.cv-wrapper .header hr{
  height: 1px;
  background-color: #ccc;
  border: 1px solid #ccc;
}

.container-body{
  display: flex;
}
.column{
  padding: 20px;
}
.column-left{
  width: 60%;
}
.column-right{
  width: 40%;
}
.title{
  color: red;
  font-size: 30px;
}
.skill{
  background-color: red;
  color: white;
  margin: 2px 0;
  padding: 2px 5px;
}
.per90{
  width: 90%
}
.per80{
  width: 80%
}
.per60{
  width: 60%
}
.per40{
  width: 40%
}
.per30{
  width: 30%
}
.language{
  padding: 2px;
  border-bottom: 2px solid grey;
}
.language .stars{
  float: right;
}
.hobbie{
  display: inline-block;
  background-color: darkred;
  color: white;
  padding: 3px;
}
